<!-- Table  -->
<table class="table">
  <!-- Table Head -->
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th *ngFor="let head of listDisplay[0] | keys" scope="col">
        {{ head }}
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <!-- TABLE BODY -->
  <tbody>
    <tr *ngFor="let list of listDisplay; let i = index">
      <td *ngFor="let item of list | keys">{{ list[item] }}</td>
      <td style="width: 10px" class="position-relative">
        <div ngbDropdown class="d-inline-block">
          <i
            id="dropdownToggle"
            ngbDropdownToggle
            class="fa-solid position-absolute fa-ellipsis dropdown-toggle-split"
          ></i>
          <div ngbDropdownMenu aria-labelledby="dropdownToggle">
            <button ngbDropdownItem (click)="onEdit(list.id)">Edit</button>
            <button ngbDropdownItem (click)="onDelete(list.id)">Delete</button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
