<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <div class="form-group">
        <label for="id">ID</label>
        <input
          [readonly]="editMode"
          type="number"
          id="id"
          name="id"
          class="form-control"
          formControlName="id"
        />
        <div
          class="error"
          *ngIf="!signupForm.get('id').valid && signupForm.get('id').touched"
        >
          <span *ngIf="signupForm.get('id').errors?.['required']">
            Id is required!
          </span>
          <span *ngIf="signupForm.get('id').hasError('duplicatedId')">
            This Id already exists, Please enter other Id!
          </span>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            class="form-control"
            name="username"
            formControlName="username"
          />
          <div
            class="error"
            *ngIf="
              !signupForm.get('username').valid &&
              signupForm.get('username').touched
            "
          >
            <span *ngIf="signupForm.get('username').errors?.['required']"
              >Username is required!</span
            >
          </div>
        </div>
        <div class="form-group">
          <label for="age">Date of birth</label>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <input
            matInput
            id="age"
            name="age"
            [min]="minDate"
            [max]="maxDate"
            class="form-control"
            formControlName="age"
            [matDatepicker]="picker"
          />
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <div
          class="error"
          *ngIf="!signupForm.get('age').valid && signupForm.get('age').touched"
        >
          <span *ngIf="signupForm.get('age').errors?.['required']"
            >Date of birth is required!</span
          >
        </div>
        <div class="form-group">
          <label for="job">Job</label>
          <input
            type="string"
            id="job"
            class="form-control"
            formControlName="job"
          />
        </div>
        <div
          class="error"
          *ngIf="!signupForm.get('job').valid && signupForm.get('job').touched"
        >
          <span *ngIf="signupForm.get('job').errors?.['required']"
            >Job is required!</span
          >
        </div>
        <div class="radio position-relative" *ngFor="let gender of genders">
          <input
            type="radio"
            name="gender"
            [value]="gender"
            formControlName="gender"
          />
          <label class="gender-radio" for=""> {{ gender }} </label>
        </div>
        <div
          class="error"
          *ngIf="
            !signupForm.get('gender').valid && signupForm.get('gender').touched
          "
        >
          <span *ngIf="signupForm.get('gender').errors?.['required']"
            >Gender is required!</span
          >
        </div>
        <button class="btn btn-primary" type="submit">
          <!-- [disabled]="!signupForm.valid" -->
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
